.product {
  padding: 60px 0;
}

.product__title {
  color: #231815;
  font-family: 'Korataki';
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 44px;
  font-weight: 700;
  line-height: 140%;
}

.product__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(155px, 320px));
  gap: 50px 30px;
}

@media screen and (max-width: 1600px) {
  .product__title {
    font-size: 40px;
  }

  .product__wrapper {
    gap: 30px;
  }
}

@media screen and (max-width: 835px) {
  .product__title {
    font-size: 32px;
  }

  .product__wrapper {
    grid-template-columns: repeat(2, minmax(155px, 320px));
    gap: 50px 40px;
  }

  @media screen and (max-width: 490px) {
    .product__title {
      font-size: 24px;
    }
  }
}
